* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}


.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  cursor: default;
} 

.header h1 {
  font-size: 30px;
  font-weight: 700;
}

.topbar {
  background-color: rgb(83, 80, 81);
  color: white;
  padding: 0px;  
  margin: 10px 0px ;
}

.topbar p {
  padding: 10px;
  margin: 0px;
  font-size: 18px;
  cursor: default;
}

.browse {
  width: 160px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: white;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 12px 20px 12px 40px;  
  transition: width 0.4s ease-in-out;
}

.browse:focus {
  width: 95%;  
}

.row {
  background-color: white;
}

.column {
  cursor: default;
  float: left;
  width: 49.99%;
}

.column p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: #ccc;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 10px;
}

.column h3 {
  font-size: 16px;
  font-weight: 500;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.people-list {
  padding: 0px;
  margin: 5px;
}

.people-list li {
  list-style-type: none;
  background-color: #ccc;
  padding: 0px;
  margin: 5px;
  border-radius: 10px;  
}

.person-name {
  padding: 10px;
  background-color: rgb(83, 80, 81);
  border-radius: 10px;
  color: white;
}

.person-name:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
  cursor: pointer;
}
.person-name input {
  display: none;
}

.person-name label {
  cursor: pointer;
}

.star {
  width: 20px;
  float: right;
}

.star:hover {
  content: url(https://image.flaticon.com/icons/png/512/1828/1828961.png);
}

.star-checked {
  content: url(https://image.flaticon.com/icons/png/512/1828/1828961.png);
}

.details {
  
  word-wrap: break-word;
 
  overflow: hidden;
  transition: 0.4s ease-out;
  height: 0px;
}

 .details-display {
  padding: 10px;
 
  height: 400px;
  overflow-y: scroll;
} 

.details div {
  padding: 2px;
}

.favorite-list {
  padding: 0px;
  margin: 5px;
}

.favorite-list li {
  list-style-type: none;
  margin: 5px;
  border-radius: 10px; 
  padding: 10px;
  background-color: rgb(83, 80, 81);
  border-radius: 10px;
  color: white; 
}

.favorite-list h3 {
  margin: 0px;
}

.delete {
  cursor: pointer;
  width: 20px;
  float: right;
}

.delete:hover {
  transform: scale(1.3);
}

.favorite-close,
.fav-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  

  .favorite-container {
    width: 55%;
    right: -100%;  
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 11;
    transition: right 0.5s ease;
    top: 0;
    animation: fade-slide-in 0.3s ease-out forwards;
  }

  .fav-button {
    display: block;
    float: right;
  }

  .favorite-close {
    display: block;
    float: left;
  }

  .fav-open {
    right: 0;
  }
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
  }

  .backdrop.visible {
    display: block;
    background: rgba(0, 0, 0, 0.75);
  }
}